# Cấu hình container frontend
FRONTEND_IMAGE_TAG=

# Cấu hình container backend
SPRING_BOOT_IMAGE_TAG=
MONGODB_URI=
MONGODB_DATABASE=

# Cấu hình container mongodb
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=


